<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Lista Personal</title>
	</head>
	<body>
		
	<div align="center"></div>	
		<h1>🗒️ LISTA DE PERSONAL 🗒️</h1>
		<a th:href="@{/personal/nuevo}">Ingresar Nuevo Trabajador</a>
		
		<table>
			<thead>
				<tr>
					<th>Idpersonal</th>
					<th>Nombre</th>
					<th>DNI</th>
					<th>Cargo</th>
					<th>Imagen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="personal : ${listaPersonal}">
					<td th:text = "${personal.idpersonal}">Idpersonal</td> 
					<td th:text = "${personal.nombre}">Nombre</td> 
					<td th:text = "${personal.dni}">DNI</td> 
					<td th:text = "${personal.cargo}">Cargo</td> 
					<td>
						<img th:src="${personal.imagen}" style="width: 105px;">
					</td> 
					<td><a th:href="@{/personal/actualizar/{id}(id=${personal.idpersonal})}">Actulizar</a>
					&nbsp;&nbsp;&nbsp;
					<a th:href="@{/personal/eliminar/{id}(id=${personal.idpersonal})}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	
	</body>
</html>